<h1> Crear Lista </h1>
<p>Crea una lista, ingresa tus tareas y administralas como gustes</p>
<div class="row">
  <div class="col-xs-7 offset-xs-2">
    <%= bootstrap_form_for :list do |f| %>
      <div class="input-group">
        <%= f.text_field :title, hide_label: true, required: 'required' %>
        <span class="input-group-btn">
		  <%= f.submit "Crear Lista", class: "btn btn-primary" %>
		</span>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if @list.present? and @list.errors.any? %>
  <div class="row">
    <big>Ocurrieron los siguientes errores: </big>
    <br>
    <% @list.errors.full_messages.each do |msg| %>
      <mediun class="text-danger"> <%=m sg %>. </medium>
      <br>
    <% end %>
  </div>
<% end %>