<div class="edit-title jumbotron jumbotron-fluid">
  <div class="container">
  	<%= editable @list, @list.title, url: list_path(@list), value: @list.title, tag: 'h1', class: 'edit_list' %>
  </div>
</div>