<div class="row">
  <div class="col-md-12">
    <%= render 'update_list' %>
  </div>

</div>

<div class="row">
  <div class="col-md-7">
    <div class="box-list">
        <%= render partial: 'tasks/form' %>
    </div>
  </div>

  <div class="col-md-5">
    <div class="box-list">
      <%= render 'information' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="box-list">
        <%= render partial: 'tasks/tasks' %>
      </div>
    </div>
  </div>
</div>