<div class="row">
  <div class="col-md-12">
    <div class="edit-title jumbotron jumbotron-fluid">
      <div class="container">
        <%= editable @list, :title, url: list_path(@list), value: @list.title, tag: 'h1', class: 'edit_list' %>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-7">
    <div class="box-list">
        <%= render partial: 'tasks/form' %>
    </div>
  </div>

  <div class="col-md-5">
    <div class="box-list">
      <%= render 'information' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="box-list tasks">
        <%= render partial: 'tasks/show' %>
      </div>
    </div>
  </div>
</div>