<div class="col-md-3">
  <div id="pending">
    <%= render partial: 'tasks/pending' %>
  </div>
</div>
<div class="col-md-3">
  <div class="well">
    <h4 class="text-success"><span class="label label-success pull-right">+ 0</span> En curso </h4>
  </div>
</div>
<div class="col-md-3">
  <div class="well">
    <h4 class="text-success"><span class="label label-success pull-right">+ 0</span> Hechas </h4>
  </div>
</div>
<div class="col-md-3">
  <div class="well">
    <h4 class="text-danger"><span class="label label-danger pull-right">+ 0</span> Expiradas </h4>
  </div>
</div>