<div class="info">
	<span class="h5"><%= t(:start) %>: </span><strong><%= t.beginning.strftime("%d/%m/%Y %k:%M") %></strong>
</div>			

<div class="info">
	<span class="h5"><%= t(:end) %>: </span>
	<strong><%= editable t, :ending, url: task_path(t), value: t.ending.strftime("%d/%m/%Y %k:%M") %></strong>	
</div>