.task {
  border-bottom-style: dashed;
  padding-top: 13px;
}

#submit-task {
    margin: 0% 39%;
}

.task-info {
    padding-bottom: 13px;
}

.task .editableform .control-group {
	width: 100%;
}

span.editable-clear-x {
    display: none!important;
}

.editable-container.editable-inline {
  display: inline; 
}

.editable-input {
  display: inline; 
}

.task .editable-buttons {
	padding-bottom: 15px;
	display: table;
}

.editableform .form-control {
   width: 100%;
}

.col-xs-4.offset-xs-4.button {
    padding-bottom: 11px;
    margin-top: 9px;
}

.info {
    padding-bottom: 10px;
}

.box-task {
    padding-bottom: 48px;
}

.pending .task {
    border-color: #0275d8;
}

.in-progress .task {
    border-color: #f0ad4e;
}

.completed .task {
    border-color: #5cb85c;
}

.expired .task {
    border-color: #d9534f;
}